header * {
    /* border: 1px solid red; */
}

header {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

header img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

header a:first-child {
    margin-right: auto;
}

nav {
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
}


nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-text-color);
    transition: color 0.2s, transform 0.2s;
}

nav ul li a:hover {
    color: var(--dark-color);
    text-decoration: underline;
    text-underline-position: under;
    transform: scale(1.05);
}



